<!DOCTYPE>
<html>
  <head>
  <title>Bowling Alley</title>
  </head>
  <body>
    <h1>Hours</h1>
    <h1>Tournaments</h1>
    <h1>Dates of Events</h1>
    <h1>Reserve for Lane</h1>
    <h1>Menus</h1>
  </body>
</html>